@model Legalize.Web.Data.Entities.LegalizeEntity

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<td>
    <a asp-action="Index" class="btn btn-success">Back to List</a>
</td>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">

            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Id)
                            </th>
                            <th>
                                Date
                            </th>
                            <th>
                                Amount
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Expense Type
                            </th>
                            <th>
                                Picture
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Trips)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ExpenseType.Name)
                            </td>
                            <td>
                                @if (!string.IsNullOrEmpty(item.PicturePath))
                                {
                                    <img src="@Url.Content(item.PicturePath)" alt="Image" style="width:150px;height:150px;max-width: 100%; height: auto;" />
                                }
                            </td>

                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
